body {
    margin: 0;
    background-color: #00a4cd
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
main {
    padding: 20px
}
html,
body {
    height: 100%;
}